# IDE
.vscode/
.idea/
.agents/
.cache/
*.code-workspace
*.swp
*~

# CMake-Build
build/
cmake-build-*/
compile_commands.json
*.o
*.obj
*.exe
*.out

# logs-tmp
*.log
*.tmp
*.cache

# System
.DS_Store
Thumbs.db

# Binary
*.a
*.out
*.o
*.so
*.dll